    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Pepper</h2>
                <p>Pepper is building wearable Augmented Reality based computer and software, with extended sensors including EEG for brainwaves, accelerometers, infrared light, etc. <!-- <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. --> </p>
                <p>Pepper is developing native Linux and web-based software using signal processing and machine learning hacks using input from user behavior and extended sensors. <!-- <a href="https://github.com/jeromelachaud">Jerome Lachaud</a></p> -->
                <p>Pepper is using computer visual hacks to extend the ways people interacting with environments and each other.<!-- <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>--></p>
                <p>Pepper is based on Linux!</p>
                <p>Pepper is supporting and building live streaming video for virtual reality applications.</p>
                <p>Pepper is developing open source software platform, brain-computer interface training protocals and API for developers, hobbyist and all users!</p>
            </div>
        </div>
    </section>