    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Github Link</h2>
                    <p>A little piece of code snippets, more uploaded coming soon.</p>
                    <!-- "btn btn-default btn-lg" -->
                    <a href="https://github.com/GameCracker/ARRR" class="btn btn-success">Visit Resource on Github</a>
                </div>
            </div>
        </div>
    </section>