<!-- Services Section -->
    <section id="sw_modules">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Software Modules</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <!-- <span class="fa-stack fa-4x"> -->
                        <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
                        <!-- <i class="fa fa-lock fa-stack-1x fa-inverse"></i> -->
                    <!-- </span> -->
                    <h4 class="service-heading">Native Linux Machine Learning Module</h4>
                    <p class="text-muted">Using EEG, accelerometers, browser, and other data to build a Linux based machine learning software module for recommendation and system managements based on users' perference and habits.</p>
                </div>
                <div class="col-md-4">
                    <!-- <span class="fa-stack fa-4x"> -->
                        <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
                        <!-- <i class="fa fa-lock fa-stack-1x fa-inverse"></i> -->
                    <!-- </span> -->
                    <h4 class="service-heading">Computer Visual Based Facial and Object Recognition</h4>
                    <p class="text-muted">Using Computer visual hacks to do real-time object and facial recognition to pull up profile information and object wiki based on users' environments and needs.</p>
                </div>
                <div class="col-md-4">
                    <!-- <span class="fa-stack fa-4x"> -->
                        <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
                        <!-- <i class="fa fa-lock fa-stack-1x fa-inverse"></i> -->
                    <!-- </span> -->
                    <h4 class="service-heading">Machine Learning Based Mood Recognition on EEG</h4>
                    <p class="text-muted">Brainwave based mood recognition, using supervised learning to tracking if user like something or doesn't like something, and tracking people's level of focus and meditation. Using outputs of classifiers for real-time computer control.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Video Streaming to Virtual Reality(VR)</h4>
                    <p class="text-muted">Supporting video streaming and displaying to virtual reality applications using web based VR.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Web Interface for User Networks and Online EEG Trainning</h4>
                    <p class="text-muted">Building a website for users to registers, interacting online and setting up profile. Do online training and streaming EEG data by listening to music, watching videos and playing in-browsers games with EEG headsets on.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Interface Connecting to Other IoT Devices</h4>
                    <p class="text-muted">Software interfaces to connecting and streaming data from others devices and hardwares, including Emotiv, OpenBCI, NeuroSky, Muse, Arduino, Iphone and Android Phone.</p>
                </div>
            </div>
        </div>
    </section>