<!-- About Section -->
    <section id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Path</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/path/pic0.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014.9</h4>
                                    <h4 class="subheading">Started Hacking on EEG Brain-Computer Interface Using OpenBCI</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A group of hackers and hobbyist from <a href="https://www.facebook.com/groups/CogTechBerkeley/">Cognitive Technology Group at Berkeley</a>, starting learning more about technical side of brain-computer interface and developing data preprocessing, feature selection using a <href="http://openbci.com/">OpenBCI</a> v2 headset.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/path/pic1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014.11</h4>
                                    <h4 class="subheading">Machine Learning & Cloud-based Software using Multiple EEG Devices</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Started building <a href="https://github.com/GameCracker/MachineLearningEEG">mood classifiers</a>, concentration/meditation calibration Developed machine learning training models, including Support Vector Machine, K-Nearest Neighbors, Artificial Neural Networks, Recurrent Neural Networks, etc. Built cloud based connetors to streaming EEG data to cloud, wrote connectors for more EEG heasets including <a href="https://emotiv.com/epoc.php">Emotiv Epoch</a>, <a href="http://openbci.com/">OpenBCI</a>, <a href="http://developer.neurosky.com/features/mindwave-mobile/">NeuroSky</a>.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/path/pic2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014.12</h4>
                                    <h4 class="subheading">Developed Capacitive EEG Sensor & Amplifier Circuit</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Collaborated with ECE research lab in University of Illinois at Urbana-Champaign to build dry and capactive EEG sensor which doesn't need conducting gel. Designed and built amplifier circuit to amplify the signal with a on sensor gain of 100, to increase signal to noise ratio.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/path/pic3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015.1</h4>
                                    <h4 class="subheading">Played with AR/VR & Electronics</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Building brain controlled VR games using Muse Headset, Unity 3D and Oculus Rift, <a herf="http://www.explorecogtech.com/projects.html">exhibited at San Francisco Science Exploratorium from 1.29 to 3.1</a>. Built web VR application using WebGL and three.js, wrote pupil & facial recognition. Developed with more hardware including embedded Linux, FPGA, Microcontroller boards, ARM, ultrasound and infrared light sensors, etc.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Making
                                    <br>AR+EEG
                                    <br>Device!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>